.d1{position: relative;
         width: 1000px;
         margin: auto;}
.logo a {float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: bold;
        color: black;}
.menu {float: right;}
nav {position: fixed;
    text-align: center;
    border-bottom: 2px solid black;
    line-height: 70px; width: 100%;
    z-index: 5;
    transition: background-color 1s ease;
    color: white;;
    border-bottom:2px solid brown;}
nav.gam {background-color: #fff;}
nav .gambar {position: relative;
    float: left;    
    line-height: 70px;
    text-align: center;}
nav .gambar img {width: 150px; vertical-align: middle;}
nav ul {margin: 0;padding: 0;
        list-style-type: none;
        overflow: hidden;}
nav ul li {float: left;}
nav ul li a {color: black;
            text-align: center;
            padding: 0px 15px 0px 15px;
            text-decoration: none;}
nav ul li a:hover {text-decoration: underline;}
a.signup {margin-top: 20px;
            padding: 15px 20px 15px 20px;
            background: rgb(6, 158, 108);
            border-radius: 21px;
            color: #FFFFFF;}
a.signup:hover {background: red;
                   text-decoration: none;}

header {position: relative;
        height: 100vh; width: 100%;
        z-index: 3;
        overflow: hidden;}
header video {position: absolute;
              top: 0; left: 0;
              object-fit: cover;
              z-index: -1;}
header .awalan {position: relative; top: 50%;
                text-align: center;
                color: black;
                z-index: 5;}             
header .awalan h4 {font-size: 60px;
                  margin: 0; padding: 0;}
body {margin: 0px; padding: 0px;}
.d1 {margin: auto;width: 1000px;}
.full {width: 100%;}    

.button {display: inline-block;
        padding: 0px 15px 0px 15px;
        height: 35px; line-height: 40px;
        background-color: red;
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        border-radius: 10px;}
header .cover {position: absolute;
              top: 0;left: 0;
              height: 100%;width: 100%;
              opacity: 50%;
              z-index: -2;
              background-color: black;}

section {padding: 30px 0px 30px 0px;}
section h3 {font-size: 40px;}
#about {text-align: center;}
section p.isi {font-style: italic;
              font-size: 22px;}  

.kolom {float: left; overflow: hidden;}
a.more {margin-right: -65px;
        color: red;
        text-decoration: none;}
.kolom .kiri {float: left; width: 450px; 
             margin-left: 150px; }
.kolom .kiri img {width: 200px; margin-top: 30px; 
                 float: left; 
                 padding-right: 15px;padding-bottom: 15px; }
.kolom .kiri h2{font-size: 20px;
                margin-top: 25px; }
.kolom .kiri p {margin-top: 0; 
                margin-left: 10px; 
                padding: 5px; text-align: justify;}
.kolom .kanan {float:left; width: 450px; 
                margin-left: 40px;}
.kolom .kanan img {width: 200px; margin-top: 30px; 
                  float: left; 
                  padding-right: 15px; padding-bottom: 15px;}
.kolom .kanan h2 {font-size: 20px;
                  margin-top: 25px; }
.kolom .kanan p {margin-top: 0; 
                 margin-left: 0; 
                 padding: 5px;text-align: justify;}

.banner {position: relative;}
a.travel {text-decoration: none;}
.banner img {width: 100%;
            height: 500px;
            object-fit: cover;
            margin-top: 50px;}
.quotes{position: absolute;
        width: 100%;
        margin-top: -300px;
        margin-right: 500px;
        text-align: center;}

.dalam {text-align: center;
        overflow: hidden;}
.all .left {float: left; 
             width: 470px;
             margin-left: 200px;}
a.lebih {background: #ed563b;
        color: #fff;
        text-align: center;
        padding: 15px 5px;
        width: 40%;
        border-radius: 5px;
        display: inline-block;
        text-decoration: none;}

a.lihat {background: #ed563b;
        color: #fff;
        text-align: center;
        padding: 15px 5px;
        width: 30%;
        border-radius: 5px;
        display: inline-block;
        text-decoration: none;}
.all .left img {width: 45px;}
.all .left ul {list-style: none;}
.all .left ul li {margin-top: 25px;
                    margin-bottom:45px;
                    width: 250px;
                    display: inline-block;
                    font-weight: bold;}
.all .right {float: left;
            width: 450px;
            text-align: justify;}
.all .right img {width: 450px;}

.background {position: relative;}
.tulisan {position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         width: 100%;}
.background img {width: 100%;}
.background .tulis {position: absolute;
                   width: 80%;
                   left: 50%;top: 70%;
                   text-align: center;
                   transform: translate(-50%,-50%);}
                   
table, th, td {border: 1px solid blue;}

caption {background-color: black; color: white;
         font-size: 26px; padding: 8px;}

th, td {padding: 5px 25px;}

thead {background-color: rgb(4, 212, 240); color: black;}
tbody {background-color: rgb(58, 110, 221);}
td {color: white;}
tfoot {color: black; background: rgb(58, 110, 221);}

tbody tr td:nth-child(2) {
    text-align: center;}

tbody tr td:nth-child(3) {
        text-align: center;}
tbody tr td:nth-child(4) {
    text-align: center;}


@media screen and (max-width: 900px) 
{.d1 {width: 90%;}

        
    


                


              


